.outline-view {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1rem;
  overflow-y: auto;
  overflow-x: hidden;
}

.outline-view ul,
.outline-view ol {
  list-style-type: none;
  padding: 0 0 0 1.5rem;
}

.outline-button {
  position: relative;
  top: 0.15rem;
  margin: -0.5rem 0 0 -1.5rem;
  padding: 0;
  width: 1.5rem;
  height: 1.5rem;
  background: none;
  border: none;
}

li[aria-expanded='true'] > .outline-button {
  transform: rotate(90deg);
}

li[aria-expanded='false'] > .outline-button {
  transform: none;
}

.missing-outline {
  padding: 0.75rem;
  border-style: dashed;
  border-color: var(--gray-500);
  border-width: 2px;
  margin-bottom: 0.5rem;
}

.missing-outline + ol {
  padding: 0;
}

.outline-group {
  display: none;
}

.outline-group.expanded {
  display: block;
}


.outline-loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
