.enhancement-sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  padding-top: 30px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.info-box {
  margin-right: 20px;
  margin-bottom: 40px;
  margin-left: 20px;
  border-radius: 2px;
}
