.pdf-recommender {
  margin: 0 auto;
}

.related-papers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  list-style-type: none;
}

.related-papers li {
  width: 100%;
}

.related-papers li a {
  display: flex;
  flex-grow: 1;
  height: calc(100% - 1.5rem);
  padding: 1rem;
  margin-bottom: 1.5rem;
  border-color: var(--gray-500);
  border-style: dashed;
}

.thumb {
  align-self: flex-start;
}

.related-papers li a:hover {
  text-decoration: none;
  background: var(--gray-400);
}

@media (min-width: 992px) {
  .related-papers li {
    max-width: 49%;
  }
}

.title {
  font-weight: 700;
  color: var(--gray-800);
}

.detail-info {
  color: var(--gray-600);
}

.metadata {
  display: flex;
  flex-direction: column;
  padding-left: 0.75rem;
}

.authors {
  color: var(--primary);
}
