.pdf-recommender {
  margin: 0 auto;
}

.related-papers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  list-style-type: none;
}

.related-papers li {
  flex-grow: 1;
  margin-bottom: 1.5rem;
}

@media (min-width: 992px) {
  .related-papers li {
    max-width: 49%;
  }
}

.information {
  padding-left: 0.75rem;
}

.title {
  font-weight: 700;
  color: var(--gray-800);
}

.detail-info {
  color: var(--gray-600);
}

.metadata {

}
