.pdf-toolbar {
  position: sticky;
  height: 148px;
  right: 0;
  bottom: 0;

  &:hover {
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0) 100%);

    .pdf-pagination,
    .pdf-preferences {
      visibility: visible;
    }
  }

  .pdf-pagination,
  .pdf-preferences {
    //visibility: hidden;
    background: #FAFAFA;
    border-radius: 4px;
    height: 60px;
    min-width: 150px;

    > button {
      width: 60px;
      height: 100%;
    }
  }
}

