.circle {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 88px;
  height: 88px;
  padding: 0.1rem;
  border: 1px solid var(--primary);
  border-radius: 50%;
}

.image {
  width: 100%;
  height: 100%;
  color: var(--gray-700);
  object-fit: contain;
  border-radius: 50%;
}

.hidden {
  display: none;
}
