html,
body {
  height: 100%;
  overscroll-behavior: none;
}

:local(.application) {
  --sidebar-width: 18rem;

  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

:local(.toolbar) {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1100;
  display: flex;
  box-sizing: border-box;
  width: 100%;
  height: 3.5rem;
}

:local(.toolbar) > :local(.sidebar) {
  position: relative;
  transform: none;
  width: auto;
  opacity: 1;
  will-change: width;
}

:local(.application).withSidebar > :local(.toolbar) > :local(.sidebar) {
  width: var(--sidebar-width);
}

:local(.sidebar) {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: block;
  box-sizing: border-box;
  width: var(--sidebar-width);
  height: 100%;
  opacity: 0;
  transform: translate(-100%, 0);
  transition: 250ms;
  background: #fafafa;
}

:local(.application).withSidebar :local(.sidebar) {
  opacity: 1;
  transform: none;
}

:local(.content) {
  box-sizing: border-box;
  padding-top: 3.5rem;
  background: #757575;
  transition: 250ms;
}

:local(.application).withSidebar :local(.content) {
  padding-left: var(--sidebar-width);
}
