.pdf-outline-view {
  padding-top: 30px;
  padding-left: 20px;
  position: absolute;
  top: 0;
  bottom: 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  width: 100%;

  .outline-button {
    background: none;
    border: none;
  }

  ol {
    list-style-type:none
  }

  > div > ol {
    padding-left: 0;
  }

  .outline-tree-icon {
    margin-bottom: 5px;
  }
}

