@import '../bootstrap/core';

.header {
  position: relative;
  top: 0;
  left: 0;
  z-index: $zindex-fixed;
  display: flex;
  width: 100%;
  padding: 0.25rem;
  background: $gray-100;
  box-shadow: 0 2px 4px rgba($black, 0.1), 0 4px 8px rgba($black, 0.05);

  .item {
    height: 100%;
    flex: 1;
  }
}

.button-menu {
  color: inherit;
}

.button-menu:active,
.button-menu:hover,
.button-menu.button-active {
  color: var(--primary);
}
