/* stylelint-disable selector-max-id, selector-class-pattern */
html,
body,
#__next {
  --body-color: #000;

  height: 100%;
}

/* Recommender */
#coreRecommenderOutput .dropdown,
#coreRecommenderOutput .dropdown-content,
#coreRecommenderOutput .tab-container {
  display: none;
}

#coreRecommender-tab1 > ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  list-style-type: none;
}

#coreRecommender-tab1 li {
  flex-grow: 1;
  margin-bottom: 1.5rem;
}

@media (min-width: 992px) {
  #coreRecommender-tab1 li {
    max-width: 49%;
  }
}

#coreRecommender-tab1 li > a {
  display: flex;
  padding: 10px;
  text-decoration: none;
  border-color: var(--gray-500);
  border-style: dashed;
}

#coreRecommender-tab1 .information {
  padding-left: 0.75rem;
}

#coreRecommender-tab1 .title {
  font-weight: 700;
  color: var(--gray-800);
}

#coreRecommender-tab1 .detail-info {
  color: var(--gray-600);
}

#coreRecommender-tab1 .footer {
  display: none;
}

/* Viewer */
.pdfViewer > .page {
  margin-top: 15px;
  border: none;
}

.pdfViewer .page:last-of-type {
  margin-bottom: 15px;
}

.textLayer {
  /* has to be higher than .context-menu-layer */
  z-index: 10;
}
