.pdf-toolbar {
  position: sticky;
  height: 148px;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 30;

  &.pdf-toolbar-visible,
  &:hover {
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0) 100%);

    .pdf-related-papers,
    .pdf-pagination,
    .pdf-preferences {
      visibility: visible;
    }
  }

  .pdf-related-papers,
  .pdf-pagination,
  .pdf-preferences {
    background: #FAFAFA;
    border-radius: 4px;
    height: 60px;
    min-width: 150px;
    visibility: hidden;
  }

  .pdf-pagination,
  .pdf-preferences {
    > button {
      width: 60px;
      height: 100%;
    }
  }
}

