.pdfViewer {
  .page {
    border: none;
    margin-top: 15px;

    &:last-of-type {
      margin-bottom: 15px;
    }
  }
}

.pdf-metadata {
  margin: 0 auto;
}

.textLayer {
  // has to be higher than .context-menu-layer
  z-index: 10;
}
