.pdf-viewer {
  align-items: center;
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: inherit;

  .page {
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    position: relative;
  }
}

.pdf-highlighter {
  height: inherit;
}
