@import "../bootstrap/core";

.pdf-toolbar {
  position: sticky;
  height: 148px;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 30;

  @include media-breakpoint-down(xs) {
    height: 80px;
  }

  &.pdf-toolbar-visible,
  &:hover {
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0) 100%);

    .pdf-related-papers,
    .pdf-pagination,
    .pdf-preferences {
      visibility: visible;
    }
  }

  .pdf-related-papers,
  .pdf-pagination,
  .pdf-preferences {
    background: #FAFAFA;
    border-radius: 4px;
    height: 60px;
    visibility: hidden;

    @include media-breakpoint-down(xs) {
      height: 35px;
    }
  }

  .pdf-pagination,
  .pdf-preferences {
    > button {
      width: 60px;
      height: 100%;
      padding: 0.75rem;

      @include media-breakpoint-down(xs) {
        width: 35px;
        padding: 0.30rem;
      }
    }
  }

  .page-number-navigation {
    margin-left: -1rem;
    margin-right: -0.75rem;

    .input-change-page-number,
    .pages-count {
      display: inline-block;
      width: 35px;
      text-align: center;
    }

    .input-change-page-number {
      background-color: inherit;
      border: 0;
      box-shadow: none;

      &:hover,
      &:focus {
        border: 1px solid $gray-300;
      }
    }
  }

}

