.thumbnails-view {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1rem;
  overflow-x: hidden;
  overflow-y: auto;

  .thumbnail {
    margin: 0 0 1rem;
    &:not([data-loaded]) {
      border: 1px dashed rgba(255, 255, 255, 0.5);
      margin: -1px 9px 4px 9px;
    }

    &.selected {
      .thumbnailSelectionRing {
        box-shadow: 0 0 0 4px rgba(183, 84, 0, 0.5);
      }
    }
  }

  > a:last-of-type > .thumbnail {
    margin-bottom: 10px;
  }

  .thumbnailSelectionRing {
    width: auto !important;
    height: auto !important;
    border-radius: 2px;
    transition: box-shadow 150ms;
  }

  .thumbnailImage {
    width: 100% !important;
    height: auto !important;
    border: 1px solid var(--gray-400);
    border-radius: 2px;
    background-color: white;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  }
}
