.thumbnails-view {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1rem;
  overflow-x: hidden;
  overflow-y: auto;
}

.thumbnail {
  margin: 0 0 1rem;
}

.thumbnail:not([data-loaded]) {
  margin: -1px 9px 4px;
  border: 1px dashed rgba(255, 255, 255, 0.5);
}

.thumbnail.selected .thumbnail-selection-ring {
  box-shadow: 0 0 0 4px rgba(183, 84, 0, 0.5);
}

.thumbnail-selection-ring {
  width: auto;
  height: auto;
  border-radius: 2px;
  transition: box-shadow 150ms;
}

.thumbnail-image {
  width: 100%;
  height: auto;
  background-color: var(--white);
  border: 1px solid var(--gray-400);
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}
