name: container deploy azure

on:
  push:
    branches:
      - container_deploy
  workflow_dispatch:

env:
  ACR_NAME: corefrontend
  IMAGE_NAME: reader
  RESOURCE_GROUP: core-frontend
  CONTAINERAPP_NAME: core-frontend-reader
  ICONS_PUBLIC_PATH: /reader/design/

permissions:
  id-token: write
  contents: read

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    outputs:
      tag: ${{ steps.vars.outputs.tag }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Azure Login
        uses: azure/login@v1
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: Set Git SHA tag
        id: vars
        run: echo "tag=$(echo ${{ github.sha }} | cut -c1-7)" >> $GITHUB_OUTPUT

      - name: ACR Login
        run: az acr login --name ${{ env.ACR_NAME }}

      - name: Docker Build and Tag
        run: |
          docker build \
            --build-arg GA_TRACKING_CODE=${{ secrets.GA_TRACKING_CODE }} \
            --build-arg ICONS_PUBLIC_PATH=${{env.ICONS_PUBLIC_PATH}} \
            --build-arg NPM_TOKEN=${{ secrets.NPM_TOKEN }} \
            --build-arg API_TOKEN=${{ secrets.API_TOKEN }} \
            -t ${{ env.ACR_NAME }}.azurecr.io/${{ env.IMAGE_NAME }}:${{ steps.vars.outputs.tag }} \
            -t ${{ env.ACR_NAME }}.azurecr.io/${{ env.IMAGE_NAME }}:latest \
            .

      - name: Docker Push
        run: |
          docker push ${{ env.ACR_NAME }}.azurecr.io/${{ env.IMAGE_NAME }}:${{ steps.vars.outputs.tag }}
          docker push ${{ env.ACR_NAME }}.azurecr.io/${{ env.IMAGE_NAME }}:latest

  deploy:
    needs: build-and-push
    runs-on: ubuntu-latest

    steps:
      - name: Azure Login
        uses: azure/login@v1
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: Set image tag from build job
        run: echo "TAG=${{ needs.build-and-push.outputs.tag }}" >> $GITHUB_ENV

      - name: Deploy to Azure Container App
        run: |
          az containerapp update \
            --name ${{ env.CONTAINERAPP_NAME }} \
            --resource-group ${{ env.RESOURCE_GROUP }} \
            --set template.containers='[{
              "name":"${{ env.IMAGE_NAME }}",
              "image":"'${{ env.ACR_NAME }}'.azurecr.io/'${{ env.IMAGE_NAME }}':'${{ env.TAG }}'",
              "resources":{"cpu":0.5,"memory":"1Gi"},
              "ports":[{"port":8080}]
            }]' 